.friend_sug_img {
    width: 100%;
    height: 323px;
}

#next_friend_btn {
    background-color: #e70000;
    float: right;
    border-radius: 100%;
    /* border-width: 0; */
}

.follow_btn {
    background-color: #e70000;
    color: #494343;
    font-weight: bold;
}

.chev_style {
    font-size: 25px;
    margin-left: 5px;
    color: #494343;
}