.card {
    background: #fff;
    border-radius: 2px;
    min-height: 325px;
    margin-top: 1rem;
    position: relative;
    min-width: 350px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  ul {
    /* margin: 2px; */
    padding: 5px
  }
  .card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:darkgray
  }
  .card > .img-container > img {
    width: 100%
  }
  
  /* .card > .content {

    padding-right: 1rem;
    font-size: 15px;
  } */
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }

  .userStyle {
    font-style: italic;
  }

  .exerciseTable {
    table-layout: auto;
    max-width: 100% 
  }

