.timeTable {
  padding: .25rem;
  width:80%;
  margin: auto;
}

.timeTable td {
  padding: .25rem;
  text-align: center;

}
.timeTable th {
  padding: .25rem;
  text-align: center;

}
.card {
    background: #fff;
    border-radius: 2px;
    min-height: 325px;
    margin-top: 1rem;
    position: relative;
    min-width: 350px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  ul {
    /* margin: 2px; */
    padding: 5px
  }
  .card > .img-container {
    height: 60%;
    border: none;
    overflow: hidden;
    text-align: center;
    background:white
  }


  .button {
    background-color: #495057;
  }

  .button:hover {
    background-color: #212529;
  }



  .card > .img-container > img {
    width: 100%
  }


  .card > .img-container > img [src=""] {
    display: none;
  }


span:empty {
  display: none;
}

  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }

  .userStyle {
    font-style: italic;
  }

  .exerciseTable {
    table-layout: auto;
    max-width: 100% 
  }
