/* .profile_card {
    width: 2%;
} */

.profile_card_img {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    width: 70%;
    height: 70%;
    border: solid 1px #353434;
    border-radius: 50%;
}

.username_title {
    display: block;
    margin: auto;
    font-weight: bold;
    font-size: 2.5rem;
}

.info_icon {
    margin-left: 90%;
    margin-top: 5%;
    color: #353434;
}

.info_icon:hover {
    color: #cc0000;
}